:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  gap: 3px;
  margin-top: 20px;
  overflow-x: scroll;
  overflow: overlay;
  
  .row {
    gap: 3px;
    display: flex;
    flex-flow: row;
  }
}
