@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  font-family: 'Josefin Sans', 'Courier New', Courier, monospace;
}

.title {
  margin-top: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 20px;

  h1 {
    margin: 0;
    font-size: 48px;
  }
}

.settings {
  h2 {
    margin-bottom: 30px;
  }

  margin-top: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;

  .inputs {
    display: flex;
    flex-flow: row;
    gap: 20px;
    align-items: center;
  }

  ::ng-deep .input-small input {
    width: 130px !important;
  }
}

.stats {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 10px;
}

.field {
  margin-top: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
