<div class="title">
  <h1>Minesweeper by Zayats💣</h1>
</div>

<div class="settings">
  <h2>Settings</h2>
  <div class="inputs">
    <p-floatLabel>
      <p-inputNumber
        id="minesAmount"
        [showButtons]="true"
        [min]="consts.MIN_MINES_AMOUNT"
        [max]="maxMines()"
        styleClass="input-small"
        [(ngModel)]="this.gameStateService.minesAmount"
        [disabled]="this.controlsDisabled()">
      </p-inputNumber>
      <label for="minesAmount">Mines amount</label>
    </p-floatLabel>

    <p-floatLabel>
      <p-inputNumber
        id="fieldSize"
        [showButtons]="true"
        [min]="consts.MIN_SIZE"
        [max]="consts.MAX_SIZE"
        styleClass="input-small"
        [(ngModel)]="this.gameStateService.size"
        [disabled]="this.controlsDisabled()">
      </p-inputNumber>
      <label for="fieldSize">Field Size</label>
    </p-floatLabel>

    <p-button label="Play!" (onClick)="onPlay()" />
  </div>
</div>

<div class="stats">
  <p>Flags remain: {{ gameStateService.flagsRemain() }}</p>
  <p>Games won: {{ gameStateService.gamesWonAmount() }}</p>
  <p>Total games: {{ gameStateService.restartSignal() }}</p>
</div>

<div class="timer">
  <cd-timer #timer maxTimeUnit="minute" format="ms"></cd-timer>
</div>

<div class="field">
  <app-field></app-field>
</div>

<p-toast key="minesAmountError" position="bottom-center"> </p-toast>
